#!/bin/bash

# Run this file only if you have built ne with NE_TEST=1
if ! grep -q ne_test_dump_config ./ne ; then
	echo "Warning: ./ne apparently not built with NE_TEST=1."
	echo "Enter to continue or ^C to stop."
	read
fi

function check_differences {
	cmp $1 $1.undone
	if [ $? -eq 0 ]
		then echo $1 and $1.undone match. GOOD.
		     rm $1.undone
		else echo $1 and $1.undone differ. BAD.
	fi
	cmp $1.{test,redone}
	if [ $? -eq 0 ]
		then echo $1.{test,redone} match. GOOD.
		     rm $1.{test,redone}
		else echo $1.{test,redone} differ. BAD.
	fi
}

orig=ne.texinfo

./test.rb 1000 $orig > test.macro
time ./ne --macro test.macro 2>test.err
check_differences $orig

# Create another macro from the same text file, but
# this one will run in binary mode. Mung the extension
# so that autoprefs don't override the Binary flag.
cp $orig $orig.bin$$
orig=$orig.bin$$
./test.rb 1000 $orig BINARY > test.binary.macro
time ./ne --macro test.binary.macro 2>test.binary.err
check_differences $orig
